<div class="container mt-6">
        <div class="row">
            <div class="col">
                <div class="panel-header px-md-5 px-2 w-100 py-2">
                    <div class="d-flex justify-content-between py-3">
                        <div class="user-img d-flex">
                            <img class="rounded-circle border" src="/static/images/vecteezy_default-profile-account-unknown-icon-black-silhouette_20765399.jpg" alt="">
                            <h3 class="align-content-center mx-2">نام کاربری</h3>
                        </div>
                        <div class="city-live d-flex mt-3">
                            <i class="fa fa-location-dot"></i>
                            <p class="mx-md-3 mx-1">{{ user.city }}</p>
                        </div>
                    </div>
                    <div class="user-panel-menu w-100 mt-5 d-flex justify-content-between overflow-x-auto overflow-y-hidden text-nowrap">
                        <p class=""><a href="{% url 'servicer_panel' %}" class="py-4 px-2">اطلاعات من</a></p>
                        <p class=""><a href="{% url 'edit_servicer_page' %}" class="py-4 px-2">ویرایش اطلاعات</a></p>
                        <p class=""><a href="{% url 'servicer-comment' %}" class="py-4 px-2">کار های انجام شده و نظرات</a></p>
                        <p class=""><a href="{% url 'user_service_submit' %}" class="py-4 px-2">خدمات پیش رو</a></p>
{#                        <p class=""><a href="{% url 'edit_servicer_page' %}" class="py-4 px-2">اطلاعات اصلی</a></p>#}

                    </div>
                </div>
            </div>
        </div>
    </div>