{% extends 'shared/_layout.html' %}

{% block main %}

<main class="container-fluid px-0">
    <div class="img-container position-relative">
        <div class="home-img px-0">
            <img class="" src="https://assets-global.website-files.com/64ccce733bbc1bec1ee26161/64ccd92354d506a7a2d8a93c_0ff3f831b2bd273c5716eae289881c44.webp" alt="home-img">
            <div class="overlay w-100">
                <h1>انجام تمامی خدمات خانه و نگهداری از سالمند شما</h1>
                <h5 class="mx-5">میتوانید با خیال راحت و به راحتی در اینجا افرادی را پیدا کنید تا در مشکلات و خدمات خانگی شما به شما کمک کنند</h5>
                {% if user.is_authenticated %}
                    {% if user.is_servicer %}
                        <a href="{% url 'servicer-type' %}"><button class="btn btn-secondary py-2 px-4 mt-3">ثبت خدمات خود</button></a>
                    {% else %}
                        <a href="{% url 'user-request' %}"><button class="btn btn-danger py-2 px-4 mt-3">ثبت درخواست</button></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login_page' %}"><button class="btn btn-secondary py-2 px-4 mt-3">ثبت خدمات خود</button></a>
                    <a href="{% url 'login_page' %}"><button class="btn btn-danger py-2 px-4 mt-3">ثبت درخواست</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col d-flex flex-sm-row justify-content-sm-between mx-sm-0 flex-column mx-3">
                <div class="costTitle d-lg-flex d-sm-block d-flex">
                    <div class="icondollar mx-2">
                        <i class="fa-solid fa-sack-dollar p-3"></i>
                    </div>
                    <div class="w-100">
                        <h5>کاهش هزینه:</h5>
                        <h6>بهترین عملکرد با کمترین هزینه</h6>
                    </div>
                </div>
                <div class="costTitle d-lg-flex d-sm-block d-flex my-sm-0 my-4">
                    <div class="icondollar mx-2">
                        <i class="fa-solid fa-clock p-3"></i>
                    </div>
                    <div class="w-100">
                        <h5>کمترین زمان:</h5>
                        <h6>پیدا کردن خدمات لازم در کمترین زمان</h6>
                    </div>
                </div>
                <div class="costTitle d-lg-flex d-sm-block d-flex">
                    <div class="icondollar mx-2">
                        <i class="fa-solid fa-hand-holding-dollar p-3"></i>
                    </div>
                    <div class="w-100">
                        <h5>دریافت خسارت:</h5>
                        <h6>پرداخت خسارت توسط ما</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-gray mt-5">
        <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="service-img mt-5 mb-4">
                    <img src="/static/images/older.jpeg" class="img-fluid" alt="helping older">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-desc mt-5">
                    <h2>نگهداری از سالمندان در منزل خودشان</h2>
                    <p>درخواست افرادی که در نگهداری از سالمندان و خانه های آنها تجربه دارند و یا حتی درخواست پرستاران ماهر با مدارک عالی برای روز هایی که به آنها نیاز دارید.
                        برنامه‌ریزی فردی و مشاوره: فراهم کردن برنامه‌های نگهداری شخصی‌سازی شده و ارائه مشاوره‌های مناسب برای پاسخ به نیازها و تمایلات هر فرد.
                        مراقبت‌های پزشکی: فراهم کردن خدمات پزشکی روزانه، از جمله مراقبت‌های پزشکی، داروها، و مراجعات به پزشکان متخصص.
                        تغذیه مناسب و سلامت: فراهم کردن غذاهای سالم و متنوع، و رسیدگی به مشکلات تغذیه‌ای احتمالی.
                        فعالیت‌های روانی و اجتماعی: فراهم کردن فعالیت‌های روانی و اجتماعی مناسب برای حفظ روحیه و روانی سالمندان.
                        مراقبت‌های روزانه و بهداشت شخصی: کمک در انجام فعالیت‌های روزمره مانند استحمام و لباس‌پوشیدن.
                        فرصت‌های فعالیت فیزیکی: فراهم کردن فرصت‌های برای فعالیت‌های ورزشی و تناسب اندام.
                        مراقبت‌های خاص و درمانی: فراهم کردن مراقبت‌های خاص و درمانی برای مشکلات بهداشتی یا حرکتی خاصی.
                        پشتیبانی امور روزمره و اداری: کمک در انجام امور روزمره مانند مدیریت داروها و پرداخت قبوض.
                    </p>
                    <button class="btn btn-danger mb-5">ثبت درخواست</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container-fluid mt-5 bg-gray">
        <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-0 order-1">
                <div class="service-desc mt-5">
                    <h2>تمیز کردن و پاکی در خانه هایتان</h2>
                    <p>
                        خدمات تمیزی خانه ما بیش از یک پاکسازی است، بلکه یک وعده‌ی آرامش و راحتی برای شما می‌باشد. با تیم مجرب و متعهد ما، خانه‌تان در بهترین شکل ممکن مرتب و تمیز می‌شود، به طوری که شما فقط کافی است که به لحظاتی از استراحت خود لذت ببرید.
                        خدمات ما شامل:
                         پاکسازی عمومی و مرتب کردن فضاهای مختلف
                         شستشوی کف و تمیزکاری سطوح
                         تمیزکاری پنجره‌ها و درها
                         تمیزکاری و ضدعفونی سرویس بهداشتی
                         و بسیاری از خدمات دیگر بر اساس نیاز شما
                        با ما، لذت از زندگی خود را دوچندان کنید. اینجا محلی است که خانه‌تان به آرامش و زیبایی تبدیل می‌شود.
                    </p>
                    <button class="btn btn-danger mb-5">ثبت درخواست</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-img mt-5 mb-4">
                    <img src="/static/images/professional-cleaning-service-person-cleaning-office-window_23-2150520601.jpg" class="img-fluid" alt="helping older">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid bg-gray mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="service-img mt-5 mb-4">
                        <img src="/static/images/people-renovating-house-concept_53876-20664.jpg" class="img-fluid" alt="helping older">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-desc mt-5">
                        <h2>تعمیرات خانه توسط افراد با تجربه</h2>
                        <p>
                            تعمیرات خانه با کیفیت برتر!
                             با ما، خانه‌ی شما در دستان ماهرانه‌ترین افراد قرار می‌گیرد.
                             تیم ما، با تجربه و مهارت، هر چالش تعمیراتی را به چالشی ساده تبدیل می‌کند.
                             از خدمات ما برای تجربه تعمیرات خانه‌ی بی‌دردسر و کیفیت بالا استفاده کنید.
                             خانه‌ی شما، سرمایه‌ی شماست. به آن احترام بگذارید.
                             ما به شما کمک می‌کنیم تا خانه‌ی خود را به بهترین شکل ممکن نگه دارید.
                             با استفاده از تجربه و دانش فنی ما، می‌توانید از خدمات تعمیراتی با کیفیت برخوردار شوید.
                             ما به شما اطمینان می‌دهیم که خدمات ما از لحاظ کیفیت و قیمت بی‌نظیر است.
                             ما در هر زمان و هر مکانی که نیاز داشته باشید، در خدمت شما هستیم.
                             با ما، خانه‌ی شما همیشه در وضعیت ایده‌آل خواهد بود.
                            . از خدمات ما استفاده کنید و تجرب
                        </p>
                        <button class="btn btn-danger mb-5">ثبت درخواست</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-0 order-1">
                    <div class="service-desc mt-5">
                        <h2>افرادی برای کمک در مجالس شما</h2>
                        <p>
                             هرگاه به کمک در مجالس نیاز داشتید، ما همیشه در کنار شما هستیم.
                             با تیم ما، هیچ چیزی را نگران نباشید و لحظات خود را لذت ببرید.
                             از خدمات ما استفاده کنید و تجربه‌ی بی‌نظیری را دریافت کنید.
                             افراد ما، کمک شما هستند.
                             ما در هر لحظه برای حضور در مجالس شما آماده‌ایم.
                             با ما، مجالس شما همیشه به یادماندنی خواهد بود.
                             ما به شما کمک می‌کنیم تا در مجالس خود برجسته شوید.
                             با ما، شما می‌توانید به راحتی در مجالس خود شرکت کنید.
                             ما به شما اطمینان می‌دهیم که با ما، مجالس شما همیشه موفق خواهد بود.
                              با ما، شما می‌توانید لحظات خود را بهتر از همیشه سپری کنید.
                        </p>
                        <button class="btn btn-danger mb-5">ثبت درخواست</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-img mt-5 mb-4">
                        <img src="/static/images/waiter-carries-plate-with-tasty-snacks_8353-1264.jpg" class="img-fluid" alt="helping older">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}