{% extends 'shared/_layout.html' %}
{% block title %}
    اطلاعات خدمات
{% endblock %}
{% block main %}
    <main class="container-fluid px-0">
    <div class="container mt-6">
        <div class="row">
            <div class="card text-center">
                <div class="card-header">
                    <div class="d-md-flex justify-content-around mt-2">
                        <p class="card-text">درخواست کننده : {{ object.user.fullname }}</p>
                        <p class="card-text"> شماره ی تماس : {{ object.user.mobile_number }}</p>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title my-3">{{ object.type }}</h5>
                    <p class="card-text">{{ object.description }}
                    </p>
                    <div class="d-md-flex justify-content-around my-3">
                        <p class="card-text">ساعت شروع به کار :{{ object.service_date }}</p>
                        <p class="card-text">مدت زمان کار: {{ object.service_time }} ساعت</p>
                    </div>
                    <a href="#" class="btn btn-success my-3">پذیرفتن خدمات</a>
                </div>
                <div class="card-footer text-muted">
                    {{ object.created_at }}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}