{% extends 'shared/_layout.html' %}
{% load static %}
{% block title %}
    ثبت درخواست
{% endblock %}
{% block main %}
<main class="container-fluid px-0">
    <div class="container mt-6">
        <div class="row">
            <div class="col">
                <div class="w-100 d-flex mb-3">
                    <h2 class="m-auto">درخواست خدمات</h2>
                </div>
                <h3>{{ error_message }}</h3>
                <form method="post" action="{% url 'user-request' %}" class="w-100 bg-gray p-3">
                    {{ form.errors }}
                    {% csrf_token %}
                    {{ form.type }}
                    <div class="">
                        <div class="my-4">
                            <h6>تاریخ مورد نیاز را با فرمت زیر بنویسید :</h6>
                            {{ form.service_date }}
                        </div>
                        <div class="my-4">
                             <h6>جنسیت خدمات دهنده :</h6>
                            {{ form.gender }}
                        </div>
                    </div>
                    <div class="d-md-flex w-100">
                        <div class="w-md-50 w-100 my-4">
                            <h6>ساعت مورد نیاز خدمات :</h6>
                            {{ form.service_time }}
                        </div>
                    </div>
                    <div class="my-4">
                             <h6>هزینه ی قابل پرداخت :</h6>
                            {{ form.price }}
                        </div>
                    <div class="my-3">
                        <label for="exampleFormControlTextarea1" class="form-label">توضیحات لازم و خواست های شما :</label>
                        {{ form.description }}
                    </div>
                    <input type="submit" class="btn btn-success w-100 mt-5 py-3" value="ثبت">
                </form>
                <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
		        <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
            </div>
        </div>
    </div>
</main>
{% endblock %}