{% extends 'shared/_layout.html' %}
{% block title %}
    ثبت درخواست
{% endblock %}
{% block main %}
<main class="container-fluid px-0">
    <div class="container mt-6">
        <div class="row">
            <div class="col">
                <div class="w-100 d-flex mb-3">
                    <h2 class="m-auto">درخواست خدمات</h2>
                </div>
                <form action="{% url 'user-request' %}" class="w-100 bg-gray p-3">
                    {% csrf_token %}
                    {{ form.type }}
                    <div class="">
                        <div class="my-4">
                            {{ form.service_date }}
                        </div>
                        <div class="my-4">
                            {{ form.gender }}
                        </div>
                    </div>
                    <div class="d-md-flex w-100">
                        <div class="w-md-50 w-100 my-4">
                            <h6>ساعت مورد نیاز خدمات :</h6>
                            {{ form.service_time }}
                        </div>
                    </div>
                    <div class="my-3">
                        <label for="exampleFormControlTextarea1" class="form-label">توضیحات لازم و خواست های شما :</label>
                        {{ form.description }}
                    </div>
                    <input type="submit" class="btn btn-success w-100 mt-5 py-3" value="ثبت">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}