<header class="container-fluid w-100 fixed-top px-0">
    <section class="row">
        <section class="col-12 mt-3">
                <div class="container d-flex justify-content-between">
                    <div class="user-account">
                     <li class="nav-item dropdown list-unstyled">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if full_name %}{{ full_name }}
                        {% else %}حساب کاربری{% endif %}
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        {% if user.is_authenticated %}
                              <li><a class="dropdown-item" href="{% if user.is_servicer %}{% url 'servicer_panel' %}{% else %}{% url 'user_panel' %}{% endif %}">پنل کاربری</a></li>
                              <li><a class="dropdown-item" href="{% url 'logout_page' %}">خروج</a></li>
                          {% else %}
                                <li><a class="dropdown-item" href="{% url 'register_page' %}">ساخت حساب</a></li>
                                <li><a class="dropdown-item" href="{% url 'login_page' %}">ورود به حساب</a></li>
                      {% endif %}
                      </ul>
                    </li>
                    </div>
                    <div>
                        <a href="#"><img src="/static/images/Logo.PNG" class="Logo" alt="Logo"></a>
                    </div>
                </div>
        </section>
    </section>
</header>