<footer>
    <div class="container-fluid footer bg-footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-5 mb-md-5">
                    <h5>آدرس :</h5>
                    <p>تهران، خیابان فلان، کوچه ی فیلان ،پلاک 22</p>
                    <h5 class="mt-5">شماره ی تماس :</h5>
                    <p>0213302931</p>
                </div>
                <div class="col-md-4 mt-5 mb-md-5">
                    <h5>ما را دنبال کنید :</h5>
                    <div class="follow-us-icon mt-4">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-telegram px-3"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mt-5 d-flex flex-column justify-content-between mb-md-5">
                    <h5>بلاگ</h5>
                    <h5>نحوه ی پرداخت خسارت</h5>
                    <h5>قوانین و مقررات</h5>
                    <h5>حقوق شخصی</h5>
                </div>
            </div>
        </div>
    </div>
</footer>