{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block main %}
    <main>
        {% render_partial 'user_panel_module.views.servicer_panel_header' %}
         <div class="container mt-3">
                <div class="row mx-2">
                    <div class="col panel-main">
                          <div class="card text-center p-3 m-3">
                <div class="card-header">
                    <div class="d-md-flex justify-content-around mt-2">
                        <p class="card-text">درخواست کننده:{{ context.user.fullname }}</p>
                        <p class="card-text"> شماره ی تماس : {{ context.user.mobile_number }}</p>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title my-3">{{ context.type }}</h5>
                    <p class="card-text">{{ context.description }}
                    </p>
                    <div class="d-md-flex justify-content-around my-3">
                        <p class="card-text">ساعت شروع به کار :{{ context.service_date }}</p>
                        <p class="card-text">مدت زمان کار: {{ context.service_time }} ساعت</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        <p class="card-text">آدرس : {{ context.user.address }}</p>
                        {% if pay.success %}
                            <p class="card-text">وضعیت پرداخت : پرداخت شده</p>
                            {% else %}
                            <p class="card-text">وضعیت پرداخت : پرداخت نشده</p>
                        {% endif %}

                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ context.created_at }}
                </div>
            </div>
                    </div>
                </div>
         </div>
    </main>
{% endblock %}