{% extends 'shared/_layout.html' %}

{% block title %}
    پنل کاربری
{% endblock %}
{% block main %}
    <main>
    <div class="container mt-6">
        <div class="row">
            <div class="col">
                <div class="panel-header px-md-5 px-2 w-100 py-2">
                    <div class="d-flex justify-content-between py-3">
                        <div class="user-img d-flex">
                            <img class="rounded-circle border" src="/static/images/vecteezy_default-profile-account-unknown-icon-black-silhouette_20765399.jpg" alt="">
                            <h3 class="align-content-center mx-2">نام کاربری</h3>
                        </div>
                        <div class="city-live d-flex mt-3">
                            <i class="fa fa-location-dot"></i>
                            <p class="mx-md-3 mx-1">تهران</p>
                        </div>
                    </div>
                    <div class="user-panel-menu w-100 mt-5 d-flex justify-content-between overflow-x-auto overflow-y-hidden text-nowrap">
                        <p class=""><a href="{% url 'user_panel' %}" class="py-4 px-2">اطلاعات من</a></p>
                        <p class=""><a href="{% url 'edit_profile_page' %}" class="py-4 px-2">ویرایش اطلاعات</a></p>
                        <p class=""><a href="#" class="py-4 px-2">کار های انجام شده و نظرات</a></p>
                        <p class=""><a href="#" class="py-4 px-2">نمونه کارها</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row mx-2">
            <div class="col panel-main">
                <div class="user-info-container">
                    <div>
                        <div class="mt-4 px-3 pb-4 form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="d-flex justify-content-between">
                                        <label class="p-3">نام و نام خانوادگی :</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ user.fullname }}"  disabled>
                                    <div class="d-flex justify-content-between">
                                        <label class="p-3">ایمیل :</label>
                                    </div>
                                    <input type="email" class="form-control" placeholder="{{ user.email }}" disabled>
                                    <div class="d-flex justify-content-between">
                                        <label class="p-3">کد ملی :</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ user.national_number }}" disabled>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex justify-content-between">
                                        <label class="p-3">شماره موبایل :</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ user.mobile_number }}" disabled>
                                    <div class="d-flex justify-content-between ">
                                        <label class="p-3">تاریخ تولد :</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ user.birth_date }}" disabled>
                                    <div class="d-flex justify-content-between">
                                        <label class="p-3">آدرس:</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ user.address }}" disabled>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex justify-content-between ">
                                        <label class="p-3"> مدارک تحصیلی :</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ user.certificate }}" disabled>
                                    <div class="d-flex justify-content-between">
                                        <label class="p-3">سابقه کار :</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ user.experince }}" disabled>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex justify-content-between ">
                                        <label class="p-3">استان و شهر محل سکونت :</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ user.city }}" disabled>
                                    <div class="d-flex justify-content-between">
                                        <label class="p-3">درباره ی من :</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{ servicer.description }}" disabled>
                                </div>
                                <a href="#"><button type="submit" class="btn btn-danger mt-4 w-100">ویرایش و کامل کردن اطلاعات</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}