{#{% extends 'shared/_layout.html' %}#}
{##}
{#{% block title %}#}
{#    فراموشی کلمه ی عبور#}
{#{% endblock %}#}
{##}
{#{% block main %}#}
{#<div class="login-container">#}
{#    <h1>Forgot password</h1>#}
{#    <form method="post" action="{% url 'forget_password_page' %}" class="login-form">#}
{#        {% csrf_token %}#}
{#            {{ forget_pass_form.email.label_tag }}#}
{#            {{ forget_pass_form.email }}#}
{#            {{ forget_pass_form.email.errors }}#}
{##}
{#        <button type="submit" class="btn btn-dark mt-4 w-100">فراموشی کلمه ی عبور</button>#}
{##}
{#    </form>#}
{#</div>#}
{##}
{#{% endblock %}#}