{% extends 'shared/_layout.html' %}

{% block title %}
    ثبت نام
{% endblock %}

{% block main %}
<main class="sign">
<div class="container w-100">
    <div class="row">
        <div class="col">
            <div class="sign-container w-md-50 m-auto mt-6 p-md-4">
                <h1 class="d-flex justify-content-center mt-4">ثبت نام</h1>
                <form class="sign-form px-md-5 px-1">
                    <div class="form-group">
                        <label class="mb-2 mx-1">نام و نام خانوادگی :</label>
                        <input type="text" class="form-control" placeholder="نام و نام خانوادگی خود را کامل وارد کنید">
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1" class="mb-2 mx-1">ایمیل :</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="آدرس ایمیل خود را وارد کنید">
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputPassword1" class="mb-2 mx-1">رمز عبور :</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور خود را وارد کنید">
                    </div>
                        <div class="form-check-reverse my-2">
                            <label class="form-check-label" for="flexRadioDefault1">
                                خدمات رسان
                            </label>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        </div>
                        <div class="form-check-reverse">
                            <label class="form-check-label" for="flexRadioDefault2">
                                کارفرما
                            </label>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        </div>
                    <div class="d-flex justify-content-md-between flex-md-row flex-column align-items-center mt-4">
                        <button type="submit" class="btn btn-danger">ساخت حساب کاربری</button>
                        <a href="#" class="mt-md-1 my-md-0 my-3">حساب کاربری دارید ؟</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}