{#{% extends 'shared/_layout.html' %}#}
{##}
{#{% block title %}#}
{#    بازیابی کلمه ی عبور#}
{#{% endblock %}#}
{##}
{#{% block main %}#}
{#    <div class="login-container">#}
{#        <h1>Forgot password</h1>#}
{#        <form method="post" action="{% url 'reset_password_page' active_code=user.email_active_code%}" class="login-form">#}
{#            {% csrf_token %}#}
{#            {{ reset_pass_form.password.label_tag }}#}
{#            {{ reset_pass_form.password }}#}
{#            {{ reset_pass_form.password.errors }}#}
{##}
{#            {{ reset_pass_form.confirm_password.label_tag }}#}
{#            {{ reset_pass_form.confirm_password }}#}
{#            {{ reset_pass_form.confirm_password.errors }}#}
{##}
{#            <button type="submit" class="btn btn-dark mt-4 w-100">بازیابی کلمه ی عبور</button>#}
{##}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}